@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8833a;
    background: #c3cfd9;
    font-size: 34px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.instruction {
    display: flex;
    font-size: 24px;
    width: 100%;
    height: 84px;
    align-items: center;
    justify-content: center;
    color: #293845;
    margin-top: 67px;
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 209px;
    width: 145px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 11px;
    margin-right: 10px;
}

li.movie img {
    height: 193px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    margin-left: 23px;
}

.time-button {
    margin-right: 10px;
    width: 82px;
    height: 43px;
    color: white;
    background: #e8833a;
    font-size: 18px;
    border: none;
    margin-bottom: 117px;
}

footer {
    display: flex;
    width: 100%;
    height: 117px;
    background: #dfe6ed;
    position: fixed;
    bottom: 0px;
    left: 0px;
    align-items: center;
    font-size: 26px;
}

div.movie {
    margin-left: 10px;
    margin-right: 14px;
    width: 64px;
    height: 89px;
}

div.movie img {
    width: 55px;
}

li.seat {
    margin: 3px;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    background: #c3cfd9;
    border: 1px solid #808f9d;
}

li.selected {
    background-color: #8dd7cf;
}

li.not-avaliable {
    background-color: #fbe192;
}

.example ul {
    margin-top: 20px;
    justify-content: space-evenly;
}

.seats div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopper-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 41px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 2px;
}

div.name {
    margin-bottom: 7px;
}

.shopper-info input {
    text-align: center;
    font-size: 18px;
    width: 327px;
    height: 51px;
}

.shopper-info input::placeholder {
    font-style: italic;
    font-size: 18px;
}

.reserve {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 117px;
    margin-bottom: 117px;
}

.reserve button {
    width: 225px;
    height: 42px;
    color: white;
    background: #e8833a;
    font-size: 18px;
    text-align: center;
    border: none;
}

@media (max-width: 340px) {
    li.seat {
        width: 20px;
        height: 20px;
    }
}
